<%# locals: (thread:, children_index:, selected_id:) %>
<li class="weave-thread-node-wrap" role="none">
  <button
    type="button"
    class="weave-thread-select<%= " is-selected" if selected_id == thread.id %>"
    data-thread-id="<%= thread.id %>"
    data-action="weave-panel#select"
    role="treeitem"
    aria-pressed="<%= selected_id == thread.id %>"
  >
    <span class="weave-thread-select-label"><%= thread.title.to_s.truncate(52) %></span>
  </button>
  <% children = children_index[thread.id] %>
  <% if children.present? %>
    <ul class="weave-thread-children" role="group">
      <% children.each do |child| %>
        <%= render "sequences/weave_thread_tree_node", thread: child, children_index: children_index, selected_id: selected_id %>
      <% end %>
    </ul>
  <% end %>
</li>
